*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#f2f2f2;
padding:40px;
line-height:1.6;
}



header{
text-align:center;
margin-bottom:15px;
}



nav{
background:#ddd;
padding:10px;
margin-bottom:20px;
}

nav ul{
display:flex;
justify-content:center;
list-style:none;
}

nav li{
margin:0 15px;
}

nav a{
text-decoration:none;
color:black;
font-weight:bold;
}



.container{
max-width:900px;
margin:auto;
display:flex;
background:white;
box-shadow:0 0 15px rgba(0,0,0,0.1);
}



.kiri{
width:35%;
background:#e5e5e5;
padding:30px;
}

.foto{
width:100%;
margin-bottom:20px;
border-radius:6px;
}

.kiri h3{
margin:20px 0 10px;
border-bottom:2px solid black;
padding-bottom:5px;
}

.kiri p,.kiri li{
font-size:14px;
margin-bottom:5px;
}

.kiri ul{
list-style:none;
}



.kanan{
width:65%;
padding:40px;
}

.kanan h3{
border-bottom:2px solid black;
margin-bottom:10px;
padding-bottom:5px;
}

.kanan ul{
margin-left:20px;
}



.grid-project{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:15px;
margin-top:10px;
}

.project-item{
background:#f4f4f4;
padding:15px;
border-radius:6px;
box-shadow:0 0 5px rgba(0,0,0,0.1);
}

.project-item h4{
margin-bottom:5px;
}



.form-container{
max-width:400px;
margin:auto;
background:white;
padding:30px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

form{
display:flex;
flex-direction:column;
}

input, textarea{
padding:8px;
margin:5px 0 15px;
border:1px solid #ccc;
border-radius:4px;
}

button{
padding:10px;
background:black;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:gray;
}



footer{
text-align:center;
margin-top:20px;
}



@media (max-width:900px){

.container{
flex-direction:column;
}

.kiri, .kanan{
width:100%;
}

.grid-project{
grid-template-columns:repeat(2,1fr);
}

}

@media (max-width:500px){

.grid-project{
grid-template-columns:1fr;
}

}